<header class="header--main">

	<div class="wrap grid__2-col">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<div class="menu__toggle js-menu-toggle">
			<div class="menu__toggle__icon"><span></span></div>
		</div>
		<nav class="main-nav">
			<div class="main-nav__box">
			  <div class="nav__icon-close">
				<i class="ion ion-md-close"></i>
			  </div>
			  <div class="nav__title">Menu</div>
			  <ul class="nav__list list-reset">
  
				
				  
				  <li class="nav__item">
					<a href="/" class="nav__link">Home</a>
				  </li>
				  
				
				  
				  <li class="nav__item">
					<a href="/projects/" class="nav__link">Projects</a>
				  </li>
				  
				
				  
				  <li class="nav__item">
					<a href="/blog/" class="nav__link">Blog</a>
				  </li>
				  
				
				  
				  <li class="nav__item dropdown">
					<span class="nav__link dropdown-toggle">Pages <i class="ion ion-ios-arrow-down arrow-down"></i></span>
					<div class="dropdown-menu">
					  
						<a href="/about/" class="nav__link active-link">About</a>
					  
						<a href="/contact/" class="nav__link">Contact</a>
					  
						<a href="/elements/" class="nav__link">Elements</a>
					  
					</div>
				  </li>
				  
				
			  </ul>
			</div>
		  </nav>

		<a href="#" class="header__cta button--fill contact-trigger js-contact">Get In Touch</a>
	</div>

</header>